@import "../../var.styl"
side-margin = 20px
item-gap = 10px
item-gap2 = item-gap+ 5px
.player
  height planet-main-footer-height
  background-color #fbdcdc
  user-select none

  .player-wrapper
    height 100%
    display flex
    flex-direction row
    justify-content space-between

    .left-controls-wrapper
      width 25%
      display flex
      flex-direction column
      justify-content center

      .left-controls
        margin-left side-margin
        display flex
        flex-direction row
        gap item-gap

        .left-controls_thumbnail
          width 60px
          height 60px
          background-color black
          display flex
          text-align center
          border-radius 100%

          img
            max-width 40px
            max-height 40px
            margin auto

        .left-controls_meta
          display flex
          flex-direction column
          justify-content center
          gap 2px

          .left-controls_meta-title
            font-size 17px

          .left-controls_meta-artists
            font-size 15px
            opacity 0.6

    .middle-controls-wrapper
      width 50%

      .middle-controls
        height 100%
        display flex
        flex-direction column
        justify-content space-evenly

        .middle-controls_actions
          display flex
          flex-direction row
          justify-content center
          gap item-gap2+ 5px


        .middle-controls_progress-slider
          width 90%
          margin 0 auto

          .middle-controls_progress-slider-time
            color black
            font-weight 400
            font-size 12px
          .middle-controls_progress-slider-time-left
            opacity 0.6
          .middle-controls_progress-slider-time-right
            opacity 0.9


    .right-controls-wrapper
      width 25%
      display flex
      flex-direction column
      justify-content center

      .right-controls
        margin-right side-margin
        display flex
        flex-direction row
        justify-content flex-end
        gap item-gap2

