@import "./var.styl"
.planet
  min-width planet-min-width
  min-height planet-min-height
  display flex
  flex-direction column
  .planet-main
    min-height planet-main-body-height
    display flex
    .planet-main-right
      flex 1
