planet-min-width = 880px
planet-min-height = 640px
planet-header-height = 64px
planet-main-footer-height = 80px
planet-main-body-height = planet-min-height - planet-header-height - planet-main-footer-height
planet-main-aside-width = 250px
