@import "../../var.styl"
.menu
  width planet-main-aside-width
  background-color burlywood
  display flex
  flex-direction column

  .menu-header
    height planet-header-height
    background-color #9dff9d
    color #0692eb
    font-size 30px
    display flex
    flex-direction column
    justify-content center
    text-align center

  .menu-body
    max-height planet-main-body-height
    overflow-y auto
